
.incomingCallWindow-container {
  width: 292px;
  height: 106px;
  border: 1px;
  border-radius: 5px;
  background-color: white;
  opacity: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 15%;
  margin-right: 5%;
}
.caller-img {
  border-radius: 50%;
  border: 1px solid #FF6B00
}


.call-top-box {
  color: white;
  background-color: #FF6B00;
  width: 100%;
  height: 20%;
  border-radius: 5px 5px 0px 0px;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 12.89px;
  padding-top: 0.2rem;
  padding-left: 0.7rem;
}


.call-middle-box {
  width: 100%;
  height: 50%;
  display: flex;
  color: #372E2C;
  font-size: 1rem;
  padding: 0.5rem;
  border-bottom: 0.5px solid #CBC3BB;
}
.caller-info-box {
  margin-left: 1rem;
}
.caller-name {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}
.caller-number {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}


.call-bottom-box {
  width: 100%;
  height: 30%;
  display: flex;
}
.call-bottom-box img {
  margin: 0 0.3rem;
}
.answer-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid #CBC3BB;
  cursor: pointer;
}
.decline-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.answer-phone-img {
  width: 12px;
  height: 12px;
}
.decline-phone-img {
  width: 15px;
  height: 6px;
}


